.formulaire {
    width: 400px;
    margin: 0 auto;
    text-align: left;
  }
  
  .formulaire h1 {
    text-align: center;
  }
  
  .formulaire.form-data {
    display: flex;
    justify-content: center;
    margin: 5px 0;
  }
  
  .formulaire .form-data label {
    display: inline-block;
    width: 75px;
    margin-right: 10px;
    text-align: right;
  }
  
  .formulaire .form-data input:not([type="submit"]) {
    flex-grow: 1;
  }